@charset "ISO-8859-1";
#webcoderskull{
    position: absolute;
    left: 0;
    top: 20%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

canvas{
    height:100vh;
    background-color:#004040;
}
#webcoderskull h1{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}